{
	"env": {
		"browser": true,
		"es2021": true
	},
	"extends": [
		"airbnb",
		"airbnb-typescript",
		"airbnb/hooks",
		"eslint:recommended",
		"plugin:react/recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:prettier/recommended"
	],
	"overrides": [],
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"ecmaVersion": "latest",
		"project": ["tsconfig.json"],
		"tsconfigRootDir": "frontend",
		"sourceType": "module"
	},
	"plugins": ["react", "@typescript-eslint", "prettier"],
	"rules": {
		"react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx", ".ts", ".tsx"] }],
		"react/react-in-jsx-scope": "off",
		"react/function-component-definition": "off",
		"import/prefer-default-export": "off"
	}
}
